:root {
    --bg-color: RGB(255, 252, 246);
    --input-color:   #fce7f3;
    --btn-color: #451a03;
    --border-color: #000000;
    --font-color: #451a03;
    --btn-font-color: #ffffff;
    --btn-background-color: blanchedalmond;
    --btn-border-color: #000000;
    --input-radius: .5rem;
    --font-size-large: large;
    --img-max-width: 170px;
    --img-max-height: 150px;
    --margin: 1rem;
    --border-width: 3px;
    --container-padding: 1rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

main 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .2fr .6fr;
    grid-template-areas: 
        "cart-img"
        "cart-events"
        "cart-items";
    height: 100vh;
    background-color: var(--bg-color);
    padding: var(--container-padding);
}

/*=============Cart Image=================*/
.cart-img 
{

    display: flex;
    justify-content: center;
    align-items: start;
    margin: var(--margin);
    padding: var(--container-padding);
}

img {
    width: 100%;
    max-width: var(--img-max-width);
    height: auto;
    max-height: var(--img-max-height);
    object-fit: contain;
}

/*=============Cart Events=================*/
.cart-events 
{
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;
    padding: var(--container-padding);
}


input 
{
    border-radius: var(--input-radius);
    border: 0;
    background-color: var(--input-color);
    font-size: var(--font-size-large);
    text-align: center;
    color: var(--font-color);
    padding: .5rem;

}

input:focus
{
    outline: 0;
}

button 
{
    border-radius: var(--input-radius);
    border: 0;
    background-color: var(--btn-color);
    font-size: var(--font-size-large);
    color: var(--btn-font-color);
    padding: .5rem;

}

/*=============Cart Items=================*/
.cart-items 
{
    position: relative;
    align-items: start;
    padding: var(--container-padding);
    gap: var(--form-gap);
    color: var(--font-color);
}

#item-list 
{
    list-style-type: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

#item-list li 
{
    background-color: var(--input-color);
    font-size: large;
    padding: 10px 10px;
    border-radius: .25rem;
    margin-bottom: .5rem; /* Space between list items */
    border: 0;
}



/*=============Media Queries================*/
@media (min-width: 768px) 
{
    :root
    {
        --img-max-width: 250px;
        --img-max-height: 200px;
    }
    main 
    {
        grid-template-rows: auto;
        grid-template-areas: 
            "cart-img"
            "cart-events"
            "cart-items";
        height: auto;
    }

    .cart-img 
    {
        margin: 0;
        padding: var(--container-padding);
    }

    img 
    {
        max-width: 100%;
        max-height: auto;
    }

    .cart-events, .cart-items 
    {
        margin: auto;
        width: 80vw;
        gap: 1.5rem;
    }
    button, input 
    {
        font-size: 2.25rem;
    }
    .cart-items
    {
        gap: 5rem;
    }
}




/*=============Media Queries================*/
@media (min-width: 1440px) 
{
    :root
    {
        --img-max-width: 450px;
        --img-max-height: 450px;
    }
    main 
    {
        grid-template-rows: auto;
        grid-template-areas: 
            "cart-img"
            "cart-events"
            "cart-items";
        height: auto;
    }

    .cart-img 
    {
        margin: 0;
        padding: var(--container-padding);
    }

    img 
    {
        max-width: 100%;
        max-height: auto;
    }

    .cart-events, .cart-items 
    {
        margin: auto;
        width: 80vw;
        gap: 2.5rem;
    }
    button, input 
    {
        font-size: 5.25rem;
    }
}

